.gallery {
  margin: 50px 0 67px;
}

.gallery__cards {
  display: flex;
  max-width: 880px;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  list-style: none;
  padding: 0;
  font-size: 0;
}

@media screen and (max-width: 650px) {
  .gallery {
    margin: 36px 0 50px;
  }
}
