.input {
  box-sizing: border-box;
  height: 27.26px;
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  border: none;
  padding-bottom: 13.34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.input:first-of-type {
  margin-bottom: 29.74px;
}

@media screen and (max-width: 590px) {
  .input {
    padding: 9px;
    height: 26px;
  }

  .input:first-of-type {
    margin-bottom: 30px;
  }
}
