.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
}

.profile__picture {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile__info {
  margin: 0 18px 0 30px;
}

.profile__name-container {
  display: flex;
  align-items: end;
  gap: 18px;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 0.85;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__job {
  margin: 16px 0 0;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 770px) {
  .profile__name {
    font-size: 32px;
    line-height: 1;
  }

  .profile__job {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile__info {
    margin: 30px 0 0;
  }

  .profile__name {
    font-size: 22px;
    line-height: 0.8;
  }

  .profile__job {
    font-size: 14px;
    text-align: center;
  }
}
